{% form "reset_customer_password" %}

  <h1>Reset account password</h1>
  <p>Enter a new password for {{ email }}</p>

  {% if form.errors %}
    <div class="text-links">
      {{ form.errors | default_errors }}
    </div>
  {% endif %}

  <label for="reset_password">Password</label>
  <input type="password" value="" name="customer[password]" id="reset_password" />

  <label for="password_confirmation">Password Confirmation</label>
  <input type="password" value="" name="customer[password_confirmation]" id="password_confirmation" />

  <button type="submit">Reset Password</button>
{% endform %}
