<!DOCTYPE html>
<html>
  <head>
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="refresh" content="0; url=/" />
    {{ content_for_header }}
  </head>
  <body>
    {{ content_for_layout }}
  </body>
</html>
